body {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 170%;
    margin-top: 1em;
}

p{
    text-align: center;
    padding: 1em 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    height: inherit;
    position: relative;
}

.cover{
    margin-top: 16px;;
}

.cover p{
    padding: 0.2em 1em;
}

.cover img{
    height: 100%;
    display: none;
}

.logo{
    width: 30px;
    position: relative;
    top: 0.5em;
    left: 1em;
}

.elements-container {
    padding: 0 5%;
}

.el{
    border: 1px solid rgb(100,100,100);
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.inline{
    display: inline-block;
}

.text{
    width: 80%;
    border: none;
    background: transparent;
    margin-top: 0;
}

.arrow {
    width: 13px;
    position: relative;
    top: 3px;
}

#more{
    display: none;
    margin-top: 0;
}

.email, .cover{
    width: fit-content;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.email p{
    padding-left: 20px;
    padding-right: 5px;
    text-align: left;
}

.email .logo{
    top: 0.4em;
}

.about:hover{
    backdrop-filter: contrast(0.5)
}

.apple:hover{
    background: #fa405855;
    border: 1px solid #fa405800;
}

.spotify:hover{
    background: #1ed76055;
    border: 1px solid #1ed76000;
}

.youtube:hover{
    background: #dc272455;
    border: 1px solid #dc272400;
}

.instagram:hover{
    background: linear-gradient(4deg, #e38a4d55, #ff000055 ,#f229ff55);
    border: 1px solid #ae4b9e00;
}

.vk:hover{
    background: #2288f555;
    border: 1px solid #2288f500;
}

.content:hover{
    color: white;
}
@media screen and (min-width: 600px) {
    body{
        background-position: center 75%;
    }

    .elements-container {
        padding: 0 25%;
    }
    
    .arrow{
        left: 1em;
    }
}

@media screen and (min-width: 1030px) {
    .arrow{
        left: 2em;
    }
}

@media screen and (min-width: 1200px) {
    .arrow{
        left: 3em;
    }
}

@media screen and (min-width: 1300px) {
    .arrow{
        left: 4em;
    }
}


@media screen and (min-width: 1430px) {
    .arrow{
        left: 5em;
    }
}

#love{
    display: none;
}

#love p{
    font-size: xx-large;
}

.flex{
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
}

.max_gabi, .lyubimie{
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
